:root {
    --cinza-padrao: rgb(18,18,20);
    --cinza-mod: #1C1C1C;
    --cinza-claro: #D3D3D3;
    --branco-padrao: #fff;
    --preto-padrao: #000;
}
.box{
    background: var(--cinza-padrao);
    width: 660px;
    height: 26rem;
    padding: 20px;
    border-radius: 10px;
    color: var(--cinza-claro);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.cont {
    display: flex;
}
.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.gerenciar-usu {
    font-size: 20px;
    box-sizing: border-box;
    background: var(--cinza-padrao);
    color: var(--cinza-claro);
    border: 2px solid var(--branco-padrao);
    border-radius: 10px;
    padding: 0.5rem 1rem;
    width: 12rem;
    margin-top: 20px;
    transition: 0.7s;
}
.gerenciar-usu:hover {
    border-color: #363636;
    background: var(--branco-padrao);
    color: var(--preto-padrao);
}
.logo-texto {
    margin-bottom: 0;
}

.usuario {
    font-size: 13px;
    opacity: 0.6;
    width: 160px; 
    transition: 0.4s;
    margin: 0 4px;
} 
.usuario:hover {
    opacity: 1;
}


.usuario-add {
    padding: 2.8rem;
    border: 2px solid var(--cinza-padrao);
    background-color: var(--cinza-mod);
    border-radius: 10px;
}
.usuario-add:hover {
    border-color:  var(--cinza-claro);
}

.usuario-conteudo {
    text-align: center;
    margin-top: 13px;
}

.usuario-imagem {
    width: 98%;
    border: 2px solid var(--cinza-padrao);
    border-radius: 10px;
}
.usuario-imagem:hover {
    border-color:  var(--cinza-claro);
}
